@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Oswald;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fad0c4;
}

form {
  max-width: 550px;
  width: 90%;
  height: 450px;
  background: #fff;
  margin: 17vh auto 0 auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: auto;
}

h1 {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin: 20px 0;
}

.btn-color {
  background-color: #6a2c70;
  color: #fff;
}

.btn-color-2 {
  color: #3c4043;
  background-color: #6a2c70;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #3c4043;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #6a2c70;
  color: #fff;
}

.navbar a.active {
  background-color: #6a2c70;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  form {
    max-width: 100%;
    width: 90%;
    margin: 10vh auto 0 auto;
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  form {
    width: 95%;
    padding: 15px;
  }
}
